.net-content-background{
  height: 600px;
  width: 100%;
  background-color: #3f005e;
  margin-bottom: 60px;
  clip-path: polygon(0 0, 100% 7%, 100% 94%, 0 100%);
}
.net-content {
  display: flex;
  height: 600px;
  width: 90vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
  .imagens-grid-net{
    width: 100% !important;
    margin: 40px auto !important;
  }
  
  .line1 {
    width: 258.133px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .line1:hover{
    opacity: 0.4;
  }
}

// @media query
@media (max-width: 3200px) {
  *{transition: ease all .3s;}
  .net-content-background{
    height: calc((500px)*2) ;
  }
  .net-content{
    width: 85vw !important;
    height: calc((500px)*2) ;
  }
}

@media (max-width: 2200px) {
  *{transition: ease all .3s;}
  .net-content-background{
    height: calc((500px)*2) ;

  }
  .net-content{
    width: 85vw !important;
    height: calc((500px)*2) ;
  }
}

@media (max-width: 1280px) {
  *{transition: ease all .3s;}
  .net-content-background{
    height: calc((620px)*2) ;
  }
  .net-content{
    width: 85vw !important;
    height: calc((620px)*2) ;
  }
}

@media (max-width: 1200px) {
  *{transition: ease all .3s;}
  .net-content-background,
  .net-content{
    height: calc((618px)*2) ;
  }
}

@media (max-width: 600px) {
  *{transition: ease all .3s;}
  .net-content-background,
  .net-content{
    height: calc((1141px)*2) !important ;
    clip-path: polygon(0 0, 100% 2%, 100% 97%, 0 100%);
  }
}

@media (max-width: 400px) {
  *{transition: ease all .3s;}
  .net-content-background,
  .net-content{
    height: calc((1141px)*2) !important ;
    clip-path: polygon(0 0, 100% 2%, 100% 97%, 0 100%);

    .imagens-grid-net{
      width: 85% !important;
    }
  }
}