@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

.html{
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

.Contact-text {
  position: relative;
  height: auto;
  width: 100%;
  text-align: left;

  .title {
    font-family: 'Poppins', sans-serif;
    color: #3f005e;
    font-weight: 800;
    font-size: 2.5rem;
  }

  .title-section-infos,
  .name-advisor,
  .email-advisor {
    color: black;
    font-size: 1.3rem;
  }

  .section-icons-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 40px 0 50px;
    font-size: 1.3rem;
    height: auto;
    width: 100%;
    @media (max-width: 1140px) {

      @media (max-width: 460px){
        align-items:baseline;
      }

      align-items: center;
      text-align: center;
    }
  }

  .icons-contact-collum1,
  .icons-contact-collum2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    .general-email-address{
      width: 100%;
      height: auto;
      word-break: break-all;
    }
  }

  .icone1-contact,  
  .icone2-contact {
    background-color: #3f005e;
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  .section-advisor-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 34%;
    width: 40%;

    .title-section-infos{
      font-size: 1.3rem;
      color: #3f005e;
      font-weight: bolder;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 10px;
    }

    .name-advisor,
    .email-advisor {
      margin: 0;
    }

    .advisor-icons-contact{
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 40px 0;
    }

    @media (max-width: 1140px) {

      @media (max-width: 460px){
        align-items:baseline;
        font-size: 1.3rem;
      }

      order: 3; 
      width: 100%; 
      height: 10%;
    }
  }

  .section-maps-content {
    position: absolute;
    right: 15%;
    top: 10%;
    height: 380px;
    width: 450px;

    @media (max-width: 1140px) {
      @media (max-width: 1140px) {
        padding-left: 3%;
      }
      position: static;
      width: 80%;
      padding-top: 100px;
      margin: auto;
      justify-content: center;
      display: flex;
    }
  }

}