.motivation-content {
  display: flex;
  margin-top: -10px;
  height: 1041px;
  width: 85vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .doctors {
    width: 484px;
    height: 300px;
  }
}

// @media queries
@media (max-width: 2200px) {
  *{transition: ease all .3s;}

  .motivation-content{
    width: 85vw !important;
    height: max-content !important;
  }
}
