@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

.html{
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

.motivation-text {
  height: 100%;
  width: 100%;
  max-width: 500;
  text-align: left;

  .title {
    font-family: 'Poppins', sans-serif;
    color: #3F005E;
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 60px !important;
  }

  .first-motivation {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 100px 250px 20px 0px;
    text-align: justify;
  }
  .first-motivation-text {
    width: 48%;
  }

  .second-motivation {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 11%;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 100px 250px 20px 0px;
    text-align: justify;
    width: 100%; 
    
    .second-motivation-text{
      width: 50%;
    }
  }
}

// @media query
@media (max-width: 960px) {
  *{transition: ease all .3s;}
  .motivation-text{
    margin: auto !important;
    .title{
      width: 90% !important;
      margin-top: 6% !important;
    }
    .second-motivation,
    .first-motivation{
      margin: auto !important;
      .img-first-motivation,
      .img-second-motivation{
        margin-top: 30px !important;
      }
      .first-motivation-text,
      .second-motivation-text{
        margin: 50px 0px !important;
        width: 100% !important;
      }
    }
  }
  .second-motivation{
    flex-direction: column-reverse !important;
  }
  .first-motivation{
    flex-direction: column !important;
  }
}

