.partners-content {
  height: 500px;
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
}

.partners-carrossel-container{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8% !important;
}

// @media queries
@media (max-width: 3200px) {
  *{transition: ease all .3s;}
  .partners-content{
    width: 85vw !important;
  }
}

@media (max-width: 960px) {
  *{transition: ease all .3s;}
  .partners-content{
    margin: auto !important;
  }
}

@media (max-width: 600px) {
  *{transition: ease all .3s;}
  .partners-content{
    width: 80% !important;
    height: calc((238px)*2) !important;
    margin-top: 5% !important;
    margin-left:  calc((3.5%)*2) !important;
  }
}
