.html{
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

.carrossel{
  display: flex;
  flex-direction: column;
  gap : 10px !important;
  height: 18vh;
  width: 100%;
  margin: auto !important;
  // margin-right: calc((5%)*2) !important;
  position: relative !important;

  .slick-next {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 89% 100%, 64% 51%, 90% 0) !important;
    background-color: #3f005e !important;
    font-size: 2em;
    height: 130px !important;
    width: 50px !important;
    right: -80px !important;
    -moz-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important; 
    transform: scaleX(-1) !important;
    top: 10% !important;
    position: absolute !important;

    &::before {
      display: none;
    }
  }
    
  .slick-prev {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 89% 100%, 64% 51%, 90% 0) !important;
    background-color: #3f005e !important;

    height: 130px !important;
    width: 50px !important;
    left: -53px !important;
    
    &::before {
      display: none;
    }
  }
}

.carrossel-item{
  height: 160px;
  border-radius: 14px;
  position: relative;
}

.slick-slide div{
  margin: 0 1rem;
}

.button{
  span{
    font-size: 1.2rem;
  }
}


.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    width: 25%;
    font-size: 9em;
    transform: scale(0.5, 1.32);
    color: #3f005e;
    font-weight: 200;
}

//media query
@media (max-width: 960px) {
  *{transition: ease all .3s;}
  .carrossel-item{
    padding-bottom: 1vh;
  }
}

@media (max-width: 450px) {
  *{transition: ease all .3s;}
  .carrossel{
    margin-right: calc((5%)*2) !important;
  }
  .carrossel-item{
    padding-bottom: 1vh;
  }
  .button{
    span{
      font-size: 0.9rem;
    };
  }
}