@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.botoes-grid {
  height: 78%;
  width: 85vw;
  margin: auto;

  .botao-grid-item1,
  .botao-grid-item2,
  .botao-grid-item3 {
    background-color: #3f005e;
    padding: 16px;
    border-radius: 45px;
    height: 85%;
    width: 80%;

    .botao-grid-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
    }

    .header-image {
      padding: 7%;
    }

    .titulo-botao {
      color: white;
      text-align: center;
      margin: 10px 0px;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .texto-botao1,
    .texto-botao2,
    .texto-botao3 {
      color: white;
      width: 95%;
      margin: 6% auto 9%;
      text-align: center;
    }
  }
}

@media (min-width: 600px) and (max-width: 1279px) {
  .MuiGrid-spacing-xs-2 {
    .MuiGrid-item {
      // margin: auto;       // afetando

      .botao-grid-item1,
      .botao-grid-item2 {
        margin-bottom: 30%;
      }
    }
  }
}

@media (max-width: 600px) {
  :host .MuiGrid-spacing-xs-2 {
    .MuiGrid-item {
      margin: auto;

      .botao-grid-item1,
      .botao-grid-item2 {
        margin-bottom: 19%;
      }
    }
  }
  .botao-grid-item1,
  .botao-grid-item2,
  .botao-grid-item3 {
    margin: auto;
  }

  .botao-grid-item1 {
    .button1 {
      margin-top: 5% !important;
    }
  }

  .botao-grid-item2 {
    .button2 {
      margin-top: 9% !important;
    }
  }
}


@media (max-width: 600px) {
  .botoes-grid{
    .header-image{
    height: 68px;
    }
  }
}