.home-content {
  margin-top: -10px;
  margin-bottom: 19vw;
  display: flex;
}

.imagem {
  position: absolute;
  right: 0px;
  top: 2vw;
  width: 55vw;
  height: 45vw;
}

.imagem-mobile {
  display: none;
}

@media screen and (max-width: 960px){
  .home{
    display: flex;
    flex-direction: column-reverse;
  }

  .imagem-mobile {
    margin-top: 5vh;
    margin-left: -6%;
    display: flex;
    width: 110%;
  }
  

  .content{
    display: flex;
    justify-content: center;
    margin: 0px auto 17vh !important;
    .title{
      text-align: center !important; 
      margin-bottom: 1vh !important;
    }
    .description{
      text-align: center !important;
    }
  }

  .imagem {
    display: none;
  }  
}