.footer {
  width: 100%;
  height: 358px;
  background: #3F005E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  height: 85%;
  margin: 0 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.copyright {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.logoMeninasDigitais{
  width: 242px;
}

.logoIC{
  width: 240px;
}

.logoSBC{
  width: 230px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.top-logos {
  width: 94%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-text {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: -20px;
}

.bottom-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* a partir de 1500px pra baixo mudar o estilo do footer! */
@media screen and (max-width: 1500px) {
  .vertical-line{
    display: none;
  }

  .footer{
    display: block;
  }

  .top-logos{
    width: auto;
  }

  .logoIC{
    padding: 0 100px;
  }

  .left-side{
    padding-top: 50px;
  }

  .right-side{
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
  }
}

@media screen and (max-width: 970px) {
  .footer{
    font-size: 20px;
  }

  .copyright{
    font-size: 1rem;
  }

  .logoMeninasDigitais{
    width: 180px;
  }

  .logoIC{
    width: 180px;
    padding: 0 50px;
  }

  .logoSBC{
    width: 180px;
  }
}

/* 650px fazer alguma coisa com logos */
@media screen and (max-width: 650px) {
  .footer{
    height: 600px;
  }

  .top-logos,
  .bottom-logo,
  .right-side {
    flex-direction: column;
  }

  .logoIC {
    padding-top: 20px;
  }
}