.events-container-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 5% 0;
    clip-path: polygon(0 0, 100% 9%, 100% 98%, 0% 100%);
    background-color: #3f005e;
}

.events-content{
    display: flex;
    width: 85vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container{
    height: 100%;
}
.gallery-transform{
    width: 105vw;
    position: relative;
    *border: solid 2px red;
    top: 30%;
}
