@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

.html{
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

.text-event {
  width: 100%;
  max-width: 500;
  position: relative;
  text-align: left;
  position: relative;
  top: 20%;

  .title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
  }
}
