.html{
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}

.who-content-background{
  background-color: #3f005e;
  clip-path: polygon(0 0, 100% 4%, 100% 91%, 0 100%);
  display: flex;
  align-items: center;
}

.who-content {
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .who-conteudo-esquerdo{
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .who-conteudo-direito{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .image-who {
      position: relative;
      width: 90%;
      max-width: 654.7px;
      max-height: 368.267px;
      border-radius: 25px;
    }
  }
}

// @media query
@media (max-width: 3200px) {
  *{transition: ease all .3s;}
  .who-content{
    height: calc((300px)*2) !important;
  }
}

@media (max-width: 2200px) {
  *{transition: ease all .3s;}
  .who-content{
    width: 85vw !important;
    height: calc((300px)*2) !important;
  }
}

@media (max-width: 960px) {
  *{transition: ease all .3s;}
  .text-who{
    width: 100% !important;
    margin: 28px auto 0px auto !important;
  }
  .who-conteudo-esquerdo,
  .who-conteudo-direito {
     height: auto !important;
     width: 100% !important;
     text-align:  left !important;
    .image-who {
      max-width: 100% !important;  
      height: 100% !important;  
    }
  }
  .who-conteudo-direito{
    height: 30% !important;
  }
  .who-content{
    height: calc((478px)*2) !important;
    flex-direction: column-reverse;
    .who-conteudo-direito{
      justify-content: center !important;
    }
  }
}

@media (max-width: 600px) {
  *{transition: ease all .3s;}
  .who-conteudo-direito {
    .image-who {
      width: 85% !important;  
      height: 85% !important;  
    }
  }
  .who-content{
    height: calc((500px)*2) !important;
  }
}
@media (max-width: 450px) {
  *{transition: ease all .3s;}
  .who-conteudo-direito {
    .image-who {
      width: 100% !important;  
      height: 70% !important;  
    }
  }
  .who-content-background{
    height: calc((655px)*2) !important;
  }
}


