.actions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.materials-title{
    font-family: "Poppins", sans-serif;
    font-size: 72px;
    color: #3F005E;
    display: grid;
    gap: 6px;
    text-align: center;
}

.downloadable{
    width: 100%;
    display: flex;
    gap: 10%;
    justify-content: center;
    padding-top: 60px;
}

.arts{
    width: 611px;
    height: 595px;
}

.arts-title{
    font-size: 48px;
    font-weight: bold;
    color: #3F005E;
}

.logos-title{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.arts-span, .logos-span{
    font-size: 18px;
    color: #FFBD59;
}

.arts-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding-top: 20px;
}

.arts-panel > div, 
#art1, 
#art2,
#art3, 
#art4,
#art5, 
#art6,
#art7, 
#art8,
#art9 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 193.55px;
    border-radius: 20px;
    border: 1px solid #D2AFE3;
}

.blur{
    position: absolute;
    width: 193.55px;
    height: 193.55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.blur-text{
    color:#3F005E;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF; 
    border-radius: 20px;
    width: 118px;
    height: 44px;
    display: none;
    justify-content: center;
    align-items: center;
}


.art1:hover .blur, .logo1:hover .blur,
.art2:hover .blur, .logo2:hover .blur,
.art3:hover .blur, .logo3:hover .blur,
.art4:hover .blur, .logo4:hover .blur,
.art5:hover .blur,
.art6:hover .blur,
.art7:hover .blur,
.art8:hover .blur,
.art9:hover .blur {
    backdrop-filter: blur(2px); /* Efeito de blur quando hover */
    
    .arrow-down{
        width: 20%;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.art1:hover .blur-text, .logo1:hover .blur-text,
.art2:hover .blur-text, .logo2:hover .blur-text,
.art3:hover .blur-text, .logo3:hover .blur-text,
.art4:hover .blur-text, .logo4:hover .blur-text,
.art5:hover .blur-text,
.art6:hover .blur-text,
.art7:hover .blur-text,
.art8:hover .blur-text,
.art9:hover .blur-text {
    display: flex; /* Exibir o botão "Baixar" quando hover */
}

.logos{
    background: url("../../../assets/actions/actions-background-logos.svg");
    background-repeat: no-repeat;
    width: 611px;
    height: 595px;
}

.logos-content {
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logos-title{
    position: relative;
    left: -40px;
}

.logos-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding-top: 20px;   
}

.logos-panel > div,
#logo1, 
#logo2,
#logo3, 
#logo4 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 184.66px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid #D2AFE3;
}  

@media screen and (max-width: 1400px) {
    .downloadable{
        display: block;
        width: auto;
    }

    .arts{
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 970px) {

    .materials-buttons{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        gap: 20px;
        

        .button span{
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .arts-panel {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        padding-top: 20px;
        justify-content: center;
    }

    .blur{
        width: 140.6px;
        height: 140.6px;
    }

    .arts-title{
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 12px;
    }

    .arts-panel > div, 
    #art1, 
    #art2,
    #art3, 
    #art4,
    #art5, 
    #art6,
    #art7, 
    #art8,
    #art9 {
        width: 140.6px;
    }

    .logos{
        margin-top: 60px;
        margin-bottom: -200px; /* anulando o div style:200px em page/actions */
        background-size: 365px;
        background-position: center;
    }

    .logos-title{
        font-size: 22px;
    }

    .logos-span{
        font-size: 14px;
    }

    .logos-panel > div,
    #logo1, 
    #logo2,
    #logo3, 
    #logo4 {
        width: 94.7px;

        .blur{
            width: 94.7px;
            height: 94.7px;
        }

        .blur-text{
            font-size: 14px;
            width: 68px;
            height: 34px;
        }

    }  

}